build-relata-covid-Desktop-Debug
build-relata-covid-Desktop_x86_windows_msvc2017_pe_64bit-Debug
build-relata-covid-Desktop_Qt_5_15_1_MinGW_32_bit-Debug
relata-covid/relata-covid.pro
relata-covid/relata-covid.pro.user
relata-covid/relata-covid.pro.user.233d6e5
relata-covid/relata-covid.pro.user.401872e